.navbar {
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5.5em;
  border-bottom: 1px solid #ffffff;
  .navbar__logotype {
    font-weight: 500;
  }
  .navbar__list {
    display: flex;
    gap: 25px;

    .navbar__item {
      font-weight: 500;
      transition: 250ms;
      &:hover {
        transform: scale(1.1);
      }
      .navbar__link {
      }
    }
  }
}

@media (max-width: 767px) {
  .navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0;
    .navbar__logotype {
      font-weight: 500;
    }
    .navbar__list {
      display: flex;
      gap: 25px;
      display: none;

      .navbar__item {
        font-weight: 500;
      }
    }
  }
}
